altair==4.2.0
attrs==22.1.0
autopep8==1.6.0
blinker==1.5
cachetools==5.2.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
commonmark==0.9.1
decorator==5.1.1
entrypoints==0.4
et-xmlfile==1.1.0
ffmpeg-python==0.2.0
ffprobe==0.5
ffprobe-python==1.0.3
filelock==3.8.0
Flask==2.0.2
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
huggingface-hub==0.9.1
idna==3.3
importlib-metadata==4.12.0
itsdangerous==2.0.1
Jinja2==3.0.2
jsonschema==4.16.0
MarkupSafe==2.0.1
more-itertools==8.14.0
numpy==1.21.3
openai==0.19.0
openpyxl==3.0.9
packaging==21.3
pandas==1.3.4
pandas-stubs==1.2.0.35
Pillow==9.2.0
protobuf==3.20.1
pyarrow==9.0.0
pycodestyle==2.8.0
pydeck==0.8.0b3
pydub==0.25.1
Pygments==2.13.0
Pympler==1.0.1
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2022.9.13
requests==2.26.0
rich==12.5.1
semver==2.13.0
six==1.16.0
smmap==5.0.0
streamlit==1.13.0
tokenizers==0.12.1
toml==0.10.2
toolz==0.12.0
torch==1.12.1
tornado==6.2
tqdm==4.62.3
transformers==4.22.1
typing_extensions==4.3.0
tzdata==2022.2
tzlocal==4.2
urllib3==1.26.7
validators==0.20.0
watchdog==2.1.9
Werkzeug==2.0.2
whisper==1.0
youtube-dl==2021.12.17
zipp==3.8.1
